{% extends 'base.html' %}
{% load static %}
{%block content%}


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Users / Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'admincss/assets/img/favicon.png'%}" rel="icon">
  <link href="{%static 'admincss/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{%static 'admincss/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'admincss/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'admincss/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'admincss/assets/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{%static 'admincss/assets/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{%static 'admincss/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'admincss/assets/vendor/simple-datatables/style.css'%}" rel="stylesheet">

  <!--Template Main CSS File -->
  <link href="{%static 'admincss/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>