asgiref          
chardet           
Django             
django-mathfilters 
numpy             
pandas            
pillow            
pip                             
python-decouple   
python-slugify                    
reportlab         
 