{%extends 'Admin/adminbase.html'%}
{%block admin%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">

<style>
.tracking-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff8511;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    }
    
    .tracking-button:hover {
    background-color:  #fff;
    }
</style>
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Sales Report</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Salesreport</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    {% if messages %}

    {% for message in messages %}

    <div class="text-center text-danger pt-3"></button>
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {%endif%}

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-12">
      <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <div>

                <div class="container">
                  <form action="{% url 'salesreport' %}" method="post">
                      {% csrf_token %}
                      <div class="row justify-content-center" style="margin-top: 50px;">
                          <div class="col-md-4">
                              <label for="start-date">Start Date</label>
                              <input type="date" id="start-date" name="start-date" class="form-control" value="{{ s_date }}">
                          </div>
                          <div class="col-md-4">
                              <label for="end-date">End Date</label>
                              <input type="date" id="end-date" name="end-date" class="form-control" value="{{ e_date }}">
                          </div>
                          <div class="col-md-12 d-flex justify-content-center p-3">
                              <button class="btn btn tracking-button btn-block" type="submit">Generate Report</button>
                          </div>
                      </div>
                   </form>
                  {% if sales %}
                  <form action="{% url 'salesreport' %}?download=1" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="start-date" value="{{ s_date }}">
                      <input type="hidden" name="end-date" value="{{ e_date }}">
                      <button type="submit" class="btn btn-secondary btn-sm mb-2">Download (PDF)</button>
                  </form>
                  
                  {%endif%}
              </div>
               
                <section class="section">
                    <div class="row">
                      <div class="col-lg-6" style="width:100%;">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title" style="padding:0;"></h5>
                            <table class="table table-hover mt-5 pt-5">
                              <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Customer</th>
                                  <th scope="col">Product</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Price</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for sale in sales %}
                                <tr class="mb-5">
                                  <td>{{ sale.order.id }}</td>
                                  <td>{{ sale.order.user }}</td>
                                  <td>{{ sale.product.product_name }}</td>
                                  <td>{{ sale.order.created_at.date }}</td>
                                  <td>{{ sale.order.total_price|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                              <tfoot>
                                <!-- Footer content if needed -->
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  
</main>
{% endblock %}