{%extends 'base.html' %} {%load static%} {%block content%}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css"
/>
<div
  class="hero-wrap hero-bread"
  style="background-image: url('{%static 'foodiecss/images/add_1.jpg'%}')"
>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a>Home</a></span> <span>Products</span>
        </p>
        <h1 class="mb-0 bread">Products</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">
          <li><a href="#" class="active">All</a></li>
          <li><a href="#">Burger</a></li>
          <li><a href="#">Pizza</a></li>
          <li><a href="#">Juice</a></li>
          <li><a href="#">Broasted</a></li>
        </ul>
      </div>
    </div>
      <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
          <div class="shop__sidebar__price">
            <form method="GET" action="{% url 'shop'  %}">
              <select name="filter" onchange="this.form.submit()">
                <option value="">Sort by</option>
                <option value="low_to_high" {% if filter == 'low_to_high' %}selected{% endif %}>Price: Low to High</option>
                <option value="high_to_low" {% if filter == 'high_to_low' %}selected{% endif %}>Price: High to Low</option>
                <option value="atoz" {% if filter == 'atoz' %}selected{% endif %}>Name: A to Z</option>
                <option value="ztoa" {% if filter == 'ztoa' %}selected{% endif %}>Name: Z to A</option>
              </select>
            </form>
          </div>
        </div>
      </div>
      
  
  

    {% if prod %}
    <div class="row">
      {% for i in prod %}
      <div class="col-md-6 col-lg-3 product_data">
        <div class="product">
          <a href="{%url 'singleproduct' i.id%}" class="img-prod"
            ><img
              class="img-fluid"
              src="{{i.image_variant.url}}"
              alt="Colorlib Template"
            />
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a>{{i.product_variant.product_name}}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p>
                  <span class="mr-2 price-dc"></span
                  ><span class="price-sale">
                {% if i.offer %}
                    <del class="text-danger">₹ {{i.price_variant}}</del>&nbsp;
                    ₹{{i.get_offer}}
					{% else %}
					 ₹{{i.price_variant}}
				{% endif %}
                  </span>
                </p>
              </div>
            </div>
            {% csrf_token %}
            <input
              type="hidden"
              value="{{i.product_variant.id}}"
              class="prod_id"
            />
            <input type="hidden" value="{{i.id}}" class="var_id" />
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a
                  class="buy-now d-flex justify-content-center align-items-center mx-3"
                >
                  <span><i class="ion-ios-cart addToCartBtn"></i></span>
                </a>
                <a
                  class="heart d-flex justify-content-center align-items-center"
                >
                  <span><i class="ion-ios-heart addToWishlist"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h2>No products found</h2>
    {% endif %}

    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          {% if prod.has_other_pages %}
          <ul class="pagination" style="margin-left: 451px">
            {%if prod.has_previous %}
            <li><a href="?page={{prod.previous_page_number}}">&lt;</a></li>
            {%else %}
            <li class="disabled"><a href="#">&lt;</a></li>
            {%endif%} {% for i in prod.paginator.page_range %} 
			{% if prod.number == i %}
            <li class="active"><span>{{i}}</span></li>
            {% else %}
            <li><a href="?page={{i}}">{{i}}</a></li>
            {% endif %} 
			{% endfor %} {% if prod.has_next %}
            <li><a href="?page={{prod.next_page_number}}">&gt;</a></li>
            {% else %}
            <li class="disabled"><a href="#">&gt;</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>

<script>
  $(document).ready(function () {
    $(".addToCartBtn").click(function (event) {
      event.preventDefault();

      var product_id = $(this).closest(".product_data").find(".prod_id").val();
      var variation_id = $(this).closest(".product_data").find(".var_id").val();
      var product_qty = 1;
      var token = $("input[name=csrfmiddlewaretoken]").val();
      $.ajax({
        url: "/cart/addtocart/",
        method: "POST",
        data: {
          variation_id: variation_id,
          product_id: product_id,
          product_qty: product_qty,
          csrfmiddlewaretoken: token,
        },
        success: function (response) {
          // Handle the successful response here
          console.log(response);
          alertify.success(response.status);
        },
      });
    });
  });
</script>

{%endblock content%}
