{%extends 'base.html' %}
{%load static%}
{%block content%}
 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fhfFhARgPdG+u3IvWq0roGnbbRAHUF/Zk/tI/aIhP1Ru7l62er1IvzWOBtr5iX84e9GCHjN3OMO4twBg0Bdwmw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 
    <div class="hero-wrap hero-bread" style="background-image:  url('{%static 'foodiecss/images/add_1.jpg'%}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9  text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Wishlist</span></p>
            <h1 class="mb-0 bread">My Wishlist</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart ">
			<div class="container product_data">
				<div class="row">
    			<div class="col-md-12 ">
    				<div class="cart-list wishdata">
	    				<table class="table cartdata">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>Product List</th>
						        <th>Product Name</th>
						        <th>Price</th>
						        <th>Add To Cart</th>
 						      </tr>
						    </thead>
							<tbody>
								{%if wishlist%}
								{%for item in wishlist%}
								<tr class="text-center ">
								
									<td>
										<a class="deleteWishlist" data-wish_id="{{item.id}}">
										<i class="fas fa-trash-alt" style="color: black;"></i>	
 										</a> 
									  </td>
									  								
								  <td class="image-prod"><div class="img" style="background-image:url('{{ item.variation.image_variant.url }}');"></div></td>
								 
								  <td class="product-name">
									<h3>{{ item.variation.product_variant }}</h3>
 								  </td>
								  
								  <td class="price">₹{{item.variation.price_variant}}</td>
								  
								  {% csrf_token %}
								  
								  <td>
									<input type="hidden" class="var_id" value="{{item.variation.id}}">
									<input type="hidden" class="prod_id" value="{{item.variation.product_variant.id}}">
									<i class="fas fa-shopping-cart cart-icon  addToCartBtn " ></i>
 
 								  </td>
								  
								</tr><!-- END TR-->
							  </tbody>
							  {% endfor %}
							  {% endif %}
							  
							  
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-Tm3jblTIZ4ilFwNxDXe5zB6g54tMtyEdcTNn9yYqr4pN4wbH2ON23EzT4zWb2Fkk" crossorigin="anonymous"></script>	 
	<style>
	.wishlist a i {
		position: relative;
		font-size: 24px;
	}
	
		
	.cart-icon {
		color: black;
	}
	
 	.cart-icon:before {
		font-size: 24px;
	}

  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

 <script>
   $(document).ready(function () {
	 $(".addToCartBtn").click(function (event) {
	   event.preventDefault();
 
	   var product_id = $(this).closest(".product_data").find(".prod_id").val();
	   var variation_id = $(this).closest(".product_data").find(".var_id").val();
	   var product_qty = 1;
	   console.log(product_id,variation_id,"daxoo")
	   
	   var token = $("input[name=csrfmiddlewaretoken]").val();
	   $.ajax({
		 url: "/cart/addtocart/",
		 method: "POST",
		 data: {
		   variation_id: variation_id,
		   product_id: product_id,
		   product_qty: product_qty,
		   csrfmiddlewaretoken: token,
		 },
		 success: function (response) {
		   // Handle the successful response here
		   console.log(response);
		   alertify.success(response.status);
		 },
	   });
	 });
   });
 </script>
 

  <script>
	$('.deleteWishlist').click(function(e) {
    e.preventDefault();

	var itemId = $(this).data('wish_id');
	console.log(itemId,'daxo')
    $.ajax({
        method: "POST",
        url: "{%url 'delete_wishlist_item'%}",
        data: {
            'itemId': itemId,
            
            csrfmiddlewaretoken: '{{csrf_token}}'
        },
     
        success: function(response) {
			location.reload();
            console.log(response);
            alertify.success(response.status);
 			
        }
    });
});
</script>

{%endblock content%}