{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Order Details</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
            <li class="breadcrumb-item active">Orders</li>
          </ol>
        </nav>
      </div>
       <section class="table-section">
        {% if orders %}
        <table class="table">
          <thead>
            <tr>
              <div class='col ml-5'>
              <th scope="col bg-weight" >ORDER DATE</th>
              <th scope="col">TOTAL</th>
              <th scope="col">TRACKING NO</th>
              <th scope="col">ACTION</th>
              </div>
            </tr>
          </thead>
          <tbody>
            {% for item in orders %}
            <tr>
              <td>{{ item.created_at }}</td>
              <td>{{ item.total_price }}</td>
              <td>{{ item.tracking_no }}</td>
              <td>
                <a href="{%url 'orderview' item.tracking_no%}" class="btn btn-primary">View</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="text-center mb-5 mt-5">
          <h4>No orders available.</h4>
        </div>
        {% endif %}
      </section><!-- End Table Section -->
    </main>
    <style>

 .table {
  width: 100%;
  border-collapse: collapse;
 }

 

.table th,
.table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color:black;


}

.table thead th {
  background-color: #ff8511;;
  font-weight: 600;
  color:white;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
  color:black;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Button styling */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.pagetitle {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
}

.pagetitle h1 {
  margin: 20px;
  font-size: 30px;
  color: #333;
}

.breadcrumb {
  margin: 0;
  padding: 1px;
  list-style: none;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumb-item a {
  color: #333;
  text-decoration: none;
}

.breadcrumb-item.active {
  color:#ff8511 ;
  font-weight:300;
}

</style>
 

{%endblock%}